# Main Concepts

In [ ]:
import nltk
nltk.download()

In [ ]:
dir(nltk)

In [ ]:
# Tokenizer Example

from nltk.tokenize import word_tokenize

input_txt = "I am from Granada, Spain and I am using python to learn NLP and by the way, practice some code"

word_tokens = word_tokenize(input_txt)
print(input_txt)
print(word_tokens)

In [ ]:
# Reading text

raw_data = "Era un viejo que pescaba solo en un bote en la corriente del Golfo y hacía ochenta y cuatro días que no cogía un pez. En	los	primeros	cuarenta	días	había tenido	consigo	a	un	muchacho.	Pero	después	de	cuarenta	días	sin	haber pescado,	los	padres	del	muchacho	le	habían	dicho	que	el	viejo	estaba definitiva	y	rematadamente	salao,	lo	cual	era	la	peor	forma	de	la	mala	suerte;	y por	orden	de	sus	padres,	el	muchacho	había	salido	en	otro	bote,	que	cogió	tres buenos	peces	la	primera	semana.	Entristecía	al	muchacho	ver	al	viejo	regresar todos	los	días	con	su	bote	vacío,	y	siempre	bajaba	a	ayudarle	a	cargar	los rollos	de	sedal	o	el	bichero	y	el	arpón	y	la	vela	arrollada	al	mástil.	La	vela estaba	remendada	con	sacos	de	harina	y,	arrollada,	parecía	una	bandera	en permanente	derrota. "
raw_data[0:500]

In [ ]:
parsed_data = raw_data.replace('\t', ' ').split(' ')
print(parsed_data)

In [ ]:
label_list = parsed_data[0::2]
msg_list = parsed_data[1::2]

print(label_list[0:5])
print(msg_list[1:5])

In [ ]:
label_list

In [ ]:
import pandas as pd

combined_df = pd.DataFrame({"label": label_list,
                            "sms": msg_list})
combined_df.head()

In [ ]:
print(len(label_list))
print(len(msg_list))
print(label_list[-3:])
print(msg_list[-3:])

In [33]:
import pandas as pd

path = '/home/kike/Documentos/data/NLP/spam.csv'
df = pd.read_csv(path, sep = "\t", encoding = "ISO-8859-1", header = None)
print(df.head(5))

df_raw_data = df[0:500]

#df["label"] = df.apply(lambda x: x.split(',') for x in df[df[0]])

                                                   0
0          v1,v2,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1  ham,"Go until jurong point, crazy.. Available ...
2  ham,Ok lar... Joking wif u oni...,,,,,,,,,,,,,...
3  spam,Free entry in 2 a wkly comp to win FA Cup...
4  ham,U dun say so early hor... U c already then...

In [41]:
df_splitted  = df[0].str.split(",",expand = True)

df = df_splitted[]
df

Empty DataFrame
Columns: []
Index: []

In [30]:
df_new = df[0].str.split("t", n = 1, expand = True)[0]
df[0] = df_new[0]
df_new.head()

0    v1,v2,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1    v1,v2,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2    v1,v2,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
3    v1,v2,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
4    v1,v2,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Name: 0, dtype: object

In [ ]:
df_raw_data

In [ ]:
df_parsed_data = df_raw_data.replace('\t', ' ').split(' ')
print(df_parsed_data)

In [ ]:
df_label_list = df_parsed_data[0::2]
df_msg_list = df_parsed_data[1::2]

print(df_label_list[0:5])
print(df_msg_list[1:5])

In [ ]:
combined_df = pd.DataFrame({"label": df_label_list,
                            "sms": df_msg_list})
combined_df.head()

In [ ]:
print(len(df_label_list))
print(len(df_msg_list))
print(df_label_list[-3:])
print(df_msg_list[-3:])