In [1]:
import numpy as np
import pandas as pd

In [4]:
lista = []
for n in range(50):
    lista.append(n**2)

lista

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401]

In [8]:
[n**2 for n in range(50)]

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401]

In [11]:
[(i,j) for i in range(5) for j in range(5)]

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4)]

In [13]:
[val for val in range(200) if val % 3 > 0]

[1,
 2,
 4,
 5,
 7,
 8,
 10,
 11,
 13,
 14,
 16,
 17,
 19,
 20,
 22,
 23,
 25,
 26,
 28,
 29,
 31,
 32,
 34,
 35,
 37,
 38,
 40,
 41,
 43,
 44,
 46,
 47,
 49,
 50,
 52,
 53,
 55,
 56,
 58,
 59,
 61,
 62,
 64,
 65,
 67,
 68,
 70,
 71,
 73,
 74,
 76,
 77,
 79,
 80,
 82,
 83,
 85,
 86,
 88,
 89,
 91,
 92,
 94,
 95,
 97,
 98,
 100,
 101,
 103,
 104,
 106,
 107,
 109,
 110,
 112,
 113,
 115,
 116,
 118,
 119,
 121,
 122,
 124,
 125,
 127,
 128,
 130,
 131,
 133,
 134,
 136,
 137,
 139,
 140,
 142,
 143,
 145,
 146,
 148,
 149,
 151,
 152,
 154,
 155,
 157,
 158,
 160,
 161,
 163,
 164,
 166,
 167,
 169,
 170,
 172,
 173,
 175,
 176,
 178,
 179,
 181,
 182,
 184,
 185,
 187,
 188,
 190,
 191,
 193,
 194,
 196,
 197,
 199]

In [14]:
listo = []
for val in range(20):
    if val % 3:
        listo.append(val)
        
listo

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19]

In [ ]:
L = []
for val in range(20):
    if val % 3:
        L.append(val)
L