# Playing with Timestamp values

In [2]:
# Imports
import pandas as pd
import plotly_express as px
import datetime
from datetime import datetime

In [17]:
df = pd.read_csv("/home/kike/Documentos/repos/Data_Science/Data/df_shorted.csv")
df = df.drop(["CHANNEL_CD","idx","RECOGNIZER_ID", "CORR_ID","STATUS_CD","REASON","VERSION_ID","DURATION_NU","AURA_ID","SCORE_NU","num_file"],axis=1)
df

,Unnamed: 0,RECOGNIZER_DT,INPUT,OUTPUT,INTENT,ENTITIES,AURA_ID_GLOBAL
0,111968,2019-02-23T16:38:28.109Z,PON CANAL SEIS,"{""score"":0.999956131,""intent"":""tef.int.es_ES.m...",tv.display,SEIS,346f960a-5acd-578f-0fff-73baf5ade36a
1,512096,2019-01-06T15:17:28.487Z,Atlético Sevilla,"{""score"":0.8643018,""intent"":""tef.int.es_ES.mp....",tv.search,Atlético Sevilla,a536239e-1c16-da42-602e-991ae8a98413
2,1036316,2018-12-31T20:42:27.590Z,QUÉ HORA ES,"{""score"":0.999996662,""intent"":""tef.int.es_ES.m...",tv.question_time_loc,NaN,85b63007-1f10-2f74-1f5b-5c0c5a286ba0
3,134656,2019-02-01T11:55:52.083Z,ENCIENDE LA TELE,"{""score"":1,""intent"":""tef.int.es_ES.mh.tv.on"",""...",tv.on,NaN,294b74be-5b87-f2a5-68d5-32661330804a
4,752619,2018-12-14T21:08:42.561Z,Terror,"{""score"":0.9688243,""intent"":""tef.int.es_ES.mp....",tv.search,Terror,584b4a20-2256-16da-e8a6-63ad578129a3
...,...,...,...,...,...,...,...
3995,1042083,2019-03-01T14:56:16.339Z,CANCELAR,"{""score"":0,""intent"":null,""entities"":[]}",NaN,NaN,8505982c-7973-b992-7a6d-c2f259a4118b
3996,1120254,2019-03-10T08:47:40.687Z,LLAMA A MAMÁ,"{""score"":1,""intent"":""tef.int.es_ES.mh.communic...",communications.call_by_name,MAMÁ,c925ba42-d19f-e692-93ba-c1615119b72a
3997,974150,2018-12-27T20:09:38.985Z,PON LA EUROLIGA,"{""score"":0.999048948,""intent"":""tef.int.es_ES.m...",tv.display,EUROLIGA,f5030743-7616-ca06-f91e-7a17912a0bd2
3998,573949,2019-01-17T19:49:26.602Z,REAL SOCIEDAD BETIS OK,"{""score"":0.836122,""intent"":""tef.int.es_ES.mh.t...",tv.search,"SOCIEDAD,BETIS",03450533-b118-0f52-ca7e-83d58fe95f24
3999,1255998,2019-03-25T19:16:18.332Z,ENCIENDE LA TELE,"{""score"":1,""intent"":""tef.int.es_ES.mh.tv.on"",""...",tv.on,NaN,a47a39d8-f343-7cd3-be03-d6b93d36f174

In [18]:
df['DATE'] = pd.to_datetime(df['RECOGNIZER_DT']).dt.date

In [19]:
df['HOUR'] = pd.to_datetime(df['RECOGNIZER_DT']).dt.hour
#df['HOUR'] = datetime.strftime(df["HOUR"], "%d %b %Y  %H:%M:%S")

In [20]:
df.columns

Index(['Unnamed: 0', 'RECOGNIZER_DT', 'INPUT', 'OUTPUT', 'INTENT', 'ENTITIES',
       'AURA_ID_GLOBAL', 'DATE', 'HOUR'],
      dtype='object')

In [21]:
df.loc[0]

Unnamed: 0                                                   111968
RECOGNIZER_DT                              2019-02-23T16:38:28.109Z
INPUT                                                PON CANAL SEIS
OUTPUT            {"score":0.999956131,"intent":"tef.int.es_ES.m...
INTENT                                                   tv.display
ENTITIES                                                       SEIS
AURA_ID_GLOBAL                 346f960a-5acd-578f-0fff-73baf5ade36a
DATE                                                     2019-02-23
HOUR                                                             16
Name: 0, dtype: object